@font-face {
    font-family: Museo;
    src: url(../fonts/Museo300-Regular.otf) format("opentype");
}

@font-face {
    font-family: MuseoStrong;
    src: url(../fonts/Museo500-Regular.otf) format("opentype");
}

@font-face {
    font-family: Gudea;
    src: url(../fonts/Gudea-Regular.ttf) format("opentype");
}

@font-face {
    font-family: GudeaStrong;
    src: url(../fonts/Gudea-Bold.ttf) format("opentype");
}