<%= form_for(@roaster) do |f| %>
  <% if @roaster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roaster.errors.count, "error") %> prohibited this roaster from being saved:</h2>

      <ul>
      <% @roaster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :blends %><br />
    <%= f.text_area :blends %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
