<%= form_for(@espresso_machine_manufacturer) do |f| %>
  <% if @espresso_machine_manufacturer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@espresso_machine_manufacturer.errors.count, "error") %> prohibited this espresso_machine_manufacturer from being saved:</h2>

      <ul>
      <% @espresso_machine_manufacturer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :machine_types %><br />
    <%= f.text_area :machine_types %>
  </div>
  <div class="field">
    <%= f.label :groups %><br />
    <%= f.text_field :groups %>
  </div>
  <div class="field">
    <%= f.label :models %><br />
    <%= f.text_area :models %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
