<h1>Listing espresso_machine_manufacturers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Website</th>
    <th>Machine types</th>
    <th>Groups</th>
    <th>Models</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @espresso_machine_manufacturers.each do |espresso_machine_manufacturer| %>
  <tr>
    <td><%= espresso_machine_manufacturer.name %></td>
    <td><%= espresso_machine_manufacturer.website %></td>
    <td><%= espresso_machine_manufacturer.machine_types %></td>
    <td><%= espresso_machine_manufacturer.groups %></td>
    <td><%= espresso_machine_manufacturer.models %></td>
    <td><%= link_to 'Show', espresso_machine_manufacturer %></td>
    <td><%= link_to 'Edit', edit_espresso_machine_manufacturer_path(espresso_machine_manufacturer) %></td>
    <td><%= link_to 'Destroy', espresso_machine_manufacturer, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Espresso machine manufacturer', new_espresso_machine_manufacturer_path %>
