<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @espresso_machine_manufacturer.name %>
</p>

<p>
  <b>Website:</b>
  <%= @espresso_machine_manufacturer.website %>
</p>

<p>
  <b>Machine types:</b>
  <%= @espresso_machine_manufacturer.machine_types %>
</p>

<p>
  <b>Groups:</b>
  <%= @espresso_machine_manufacturer.groups %>
</p>

<p>
  <b>Models:</b>
  <%= @espresso_machine_manufacturer.models %>
</p>


<%= link_to 'Edit', edit_espresso_machine_manufacturer_path(@espresso_machine_manufacturer) %> |
<%= link_to 'Back', espresso_machine_manufacturers_path %>
