{% extends "base.html" %}
{% block title %}Se produjo un error.{% endblock %}

{% block content %}
<div class="container">
  <div class="row" style="margin-top:20px">
    <div class="span10 offset1">
      <div class="hero-unit">
        <h1>500 - Server Error</h1>
        <p>Ocurrió un error en la aplicación.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}