<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>Webtrends Course. {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="assets/css/webtrends.css" rel="stylesheet" media="screen">
    <script src="assets/jquery/jquery-latest.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    {% endblock %}
  </head>
  <body>
    {% block header %}
    <div>
      <div class="container">
        <div class="navbar">
          <div class="navbar-inner">
            <a class="brand" href="/">Web Development Trends Course</a>
            <ul class="nav pull-right">
              <li><a href="about">About</a></li>
            </ul>
          </div>
        </div>
        {% block header_content %}{% endblock %}
      </div>
    </div>
    {% endblock %}
    {% block content %}{% endblock %}
    {% include 'footer.html' without context %}
  </body>
</html>