<html>
<head>
  <title>Coffee Ratings Client</title>
  <base href="assets/coffeeratings-client/" target="_blank" />
  <link rel="stylesheet" type="text/css" href="lib/extjs/resources/css/ext-all-gray.css" />
  <script type="text/javascript" src="/_ah/channel/jsapi"></script>
  <script type="text/javascript" src="lib/extjs/ext-all.js"></script>
  <script type="text/javascript" src="app.js" data-channel="{{ token }}" data-channel-private-token="{{ private_token }}"></script>
</head>
<body></body>
</html>